<!doctype html>
<html>
    <head>
        <title>All Lists</title>
        <script src="https://unpkg.com/htmx.org@2.0.0"></script>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="preconnect" href="https://googleapis.com">
        <link rel="preconnect" href="https://gstatic.com" crossorigin>
        <link href="https://googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>
    </head>
    <body>
        <h1>All Lists</h1>
        {% for list in lists.values() %}
        <div hx-get="/lists/{{ list.id }}" hx-target="body" hx-push-url="true">
            <h2>{{ list.name }}</h2>
        </div>
        {% endfor %}
    </body>
</html>
